 header {
	text-align: center;
	color: white;
	background-color:#009999;
	font-family:verdana;
	margin: 0px;
	padding-bottom: 1px;
	padding-top: 1px;
}

body {
	font-family: verdana;
	width: 800px;
	margin: 0px;
}
/* The Aside with the navlinks*/

.mom {
	float: left;
	background-color:#ffd073;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 150px;
	height: 260px;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 5px;
	font-size: 16px;
	text-decoration: underline;
	list-style-type: none;
	margin-top: 0px;
	line-height: 3.1;
}

/* The individual Navlinks*/

a {
	color: #a64b00;
	font-weight: bold;
}

/* The Article containing the Form*/

article {
	color: white;
	font-size: 14px;
	padding-top: 20px;
	margin-left: 10px;
}

/* It's the Journey AND Destination*/

h2 {
	font-size: 20px;
	color:white;
}


/*The Copyright and Footer*/

footer {
	background-color:#ffd073;
	color: #a64b00;
	text-align: center;
	font-size: 12px;
	margin-bottom: 30px;
	line-height: 2.5px;
	padding: 1px;
	
}

/* The div class containing the Articles and Sections*/

.girl {
	background-color:#006363;
	line-height: 1.3;
	margin-right: 0px;
	padding-top: 10px;	
	padding-bottom: 40px;
}

h3 {
	color: #e3c324;
	text-align: center;


}
.mouth {
	background-color:#e8d887;
	border-width: 1px;
	border-style: none;
	border-color: black;
	color: black;
	margin-left: 30px;
}

/* div part of form */
.love {
	color: white;
}

/* The left side of the form*/
	
.whore {
	float: left;
}

form {
	background-color: #e8d887;
	color: black;
	margin-right: 10px;
	margin-left: 150px;
	height: 300px;
	line-height: 1.8;
	width: 615px;

}
/* the right side of the form */

.slut{
	margin-left: 30px;
	margin-right: 80px;
	float: right;
}

/* the spacing the div took up*/

.button{
	height: 10px;
	padding-top: 220px;
	padding-left: 220px;
	background-color: 
}

/*the submit button*/

#button{
	background-color: #006363;
	color: white;
}